    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
            <% if(isUser){ %>
              <li class="nav-item">
                <a class="nav-link" href="/cart">cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/orders">orders</a>
              </li>
            <% } else{ %>
            <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/signup">signup</a>
              </li>
            <% } %>

            <% if(isAdmin){ %>
              <li class="nav-item">
                <a class="nav-link" href="/admin/addProduct">Add Product</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/admin/manage">Manage orders</a>
              </li>
            </ul>
            <% } %>

            <% if(isUser){ %>
            <form action="/logout" method="post">
              <input type="submit" value="Logout" class="btn btn-danger"> 
            </form>
            <% } %> 
          </div>
        </div>
      </nav>